In [1]:
import pandas as pd
import numpy as np

# Data Wrangling - String and regular exp

In [2]:
s = pd.Series(['a', 'b', 'c'], dtype='string')

In [3]:
s

0    a
1    b
2    c
dtype: string

In [7]:
df = pd.DataFrame({'A': ['a', 'b', 'c'], 'B': np.random.randint(0,101,3)/100})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      object
 1   B       3 non-null      float64
dtypes: float64(1), object(1)
memory usage: 176.0+ bytes

In [10]:
#1
df = pd.DataFrame({'A' : pd._testing.rands_array(5, 5)})
df

       A
0  WAdus
1  5ybSd
2  TcJ58
3  uD1rG
4  ofkbs

In [11]:
df['A_lower'] = df['A'].str.lower()
df['A_upper'] = df['A'].str.upper()
df['A_length'] = df['A'].str.len()

In [12]:
df

       A A_lower A_upper  A_length
0  WAdus   wadus   WADUS         5
1  5ybSd   5ybsd   5YBSD         5
2  TcJ58   tcj58   TCJ58         5
3  uD1rG   ud1rg   UD1RG         5
4  ofkbs   ofkbs   OFKBS         5

In [16]:
#2
df = pd.Index([' Green ', 'Black ', ' Red ', 'White', ' Pink '])
df

Index([' Green ', 'Black ', ' Red ', 'White', ' Pink '], dtype='object')

In [17]:
df.str.strip()

Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')

In [19]:
df.str.lstrip()

Index(['Green ', 'Black ', 'Red ', 'White', 'Pink '], dtype='object')

In [20]:
df.str.rstrip()

Index([' Green', 'Black', ' Red', 'White', ' Pink'], dtype='object')

In [21]:
#3